.project{
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project:hover{
    opacity: 0.6;
}
.project-image{
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.project-content{
     height: 65px;
    padding: 10px;
    /* border-top-style: outset; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-title{
    color: #053269;
    font-family: Vujahday Script;
    font-size: 25px;
    font-weight: bold;
     /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  */
}

.project-description{
    color: #053269;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    /* width: 95%; */
}
/* @media (min-width: 699px) {
    .project-description {
        width: 95%;
    }
}  */

.project-link{
    text-decoration: none;
    cursor: pointer;
    width: 100%; 
    color: #053269;  
    }
.project-link:hover{
    color: blue;
}
    @media (min-width: 768px) {
        .project-link {
            width: 45%;
        }
    } 
    @media (min-width: 1024px) {
        .project-link {
            width: 30%;
        } 
    }   