.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skills-title{
    color: #053269;
    font-family: Vujahday Script;
    font-size: 24px;
    font-weight: 500;
}
@media (min-width: 768px) {
    .skills-title {
        font-size: 40px;
    }
}
.skills-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(246, 246, 246, 0.4509803922);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 25px;
    gap: 15px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .skills-content{
        width: 80%;
        padding: 30px;
        flex-direction: row;
    }}
@media (min-width: 1024px) {
    .skills-content{
        width: 60%;
    }}
.logo-skill{
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 5px;
    flex-direction: column;
}

.icon-skill{
    height: 48px;
}