.one-collapse {
    width: 95%;
    display: flex;
    flex-direction: column;
    max-width: 1023px;
  }
  @media (min-width: 699px) {
    .one-collapse {
      width: 90%;
    }
  }
  @media (min-width: 1024px) {
    .one-collapse {
      width: 530px;
    }
  }
  
  .collapse-btn {
    width: 100%;
    background-color: #053269;
    border: none;
    height: 30px;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Vujahday Script;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
  }
  @media (min-width: 768px) {
    .collapse-btn {
      max-width: 1023px;
      height: 50px;
      font-size: 40px;
      line-height: 34px;
    }
  }
  
  .collapse-content {
    max-width: 1015px;
    display: flex;
    padding: 15px;
    background: rgba(246, 246, 246, 0.4509803922);
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    display: none;
  }

  .collapse-content ul {
    padding-left: 10px;
  }
  .collapse-content p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }
  @media (min-width: 1024px) {
    .collapse-content p {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
.check-icon{
    padding-right: 10px;
    font-weight: bold;
}
  .show-collapse-content {
    display: flex;
    animation: show 0.5s ease-in forwards;
  }
  
  .hide-collapse-content {
    animation: hide 0.5s ease-out forwards;
  }
  
  .rotate-down {
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(-180deg);
  }
  
  .rotate-up {
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(0deg);
  }
  
  @keyframes show {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }
  @keyframes hide {
    from {
      display: block;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }
  